body {
    text-align: center;
    background-color: #222;
}

#intro {
	background-color: #222;
	color: #fff;
}

.buttons {
	padding: 25px 0px;
}

.play {
	color: #fff !important;
	text-decoration: none !important;
}

.click-me {
	margin: 0px 10px;
}

#myModal {
	color: #000;
}

.intro-text {
	margin-top: 30px;
}

.modal-footer {
	text-align: center;
}

#footer {
	font-size: 14px;
	font-family: "Helvetica", sans-serif;
	font-weight: 400;
	letter-spacing: 0.5px;
	padding: 15px 0px;
}

#data {
	color: #fff;
	
	font-family: "Helvetica", sans-serif;
}

#created {
	color: #fff;
	margin: 50px 0px 0px 0px;
	font-family: "Futura", "Helvetica", sans-serif;
}
/* 
#score {
	margin-right: 50px !important;
}

#lives {
	margin-left: 50px !important;	
} */
